.img {
  width: 200px;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  justify-content: center;
}

.item {
  border: 1px dashed tomato;
  padding: 5px;
}
